In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('F2_X0.45miss0.35.map', delim_whitespace=True)

In [23]:
sms = list(df.columns[1:])

In [24]:
df['chr'] = df['locus_name'].apply(lambda x: x.split('-')[0])
df['pos'] = df['locus_name'].apply(lambda x: x.split('-')[1])

In [25]:
sms.insert(0, 'chr')

In [26]:
sms.insert(1, 'pos')

In [27]:
df1 = df[sms]

In [34]:
df2 = df1[['chr', 'pos', 'SM-1', 'SM-2']]

In [70]:
df3 = df2.set_index(['chr', 'pos'])

In [510]:
'a.b.c'.rsplit('.',1)[0]

'a.b'

In [507]:
a = None or None

In [508]:
a

In [193]:
test = df3.loc['chr2']['SM-1'].reset_index(drop=True)

In [197]:
test = test.replace(['A', 'B', 'X', '-'], [0, 2, 1, 9])

In [207]:
test_no1 = test.apply(lambda x: np.random.choice([0,2]) if x==1 else x)

In [275]:
scores = pd.read_csv('score.txt', delim_whitespace=True, header=None)

In [278]:
scores = scores.set_index(0)

In [281]:
scores.columns = ['scores']

In [289]:
scores.shape

(21, 1)

In [295]:
(scores.diff().iloc[1:]>=0).sum()

scores    14
dtype: int64

In [287]:
(scores.diff()>0).sum(),(scores.diff()<0).sum(),(scores.diff()==0).sum()

(scores    6
 dtype: int64, scores    6
 dtype: int64, scores    8
 dtype: int64)

In [233]:
from collections import Counter

def decode(x):
    counts = Counter(x)
    a_count = counts[0]
    b_count = counts[2]
    miss_count = counts[9]
    counts[3]
    return max(a_count, b_count, miss_count)

In [236]:
t = np.array(range(10))

In [245]:
stats = {1:'a', 2:'b',3:'c'}

In [246]:
test_no1.rolling(15, center=True).apply(decode, raw=True)

3

In [103]:
idx = df3.loc['chr2'].index

In [113]:
df4 = df3.loc['chr2'].reset_index(drop=True)

In [497]:
test = df4.astype('float')

In [499]:
test.astype('int')

     SM-1  SM-2
0       4     2
1      10     2
2       9     2
3       2     2
4       9     2
5       9     2
6       9     2
7       4     2
8       9     2
9       4     2
10      0     2
11      4     2
12      2     9
13      0     9
14      9     9
15      4     9
16      9     2
17      9     2
18      4     9
19      4     2
20      9     2
21      2     2
22      0     2
23      2     2
24      9     9
25      4     9
26      4     2
27      9     9
28      4     2
29      9     9
..    ...   ...
970     9     9
971     2     0
972     9     9
973     0     1
974     4     1
975     0     1
976     4     9
977     0     0
978     0     9
979     9     1
980     9     1
981     9     2
982     4     1
983     4     9
984     9     2
985     0     2
986     0     1
987     9     0
988     4     1
989     2     9
990     4     1
991     9     1
992     9     1
993     4     9
994     9     1
995     4     1
996     9     1
997     2     0
998     9     0
999     9     1

[1000 rows x 2 columns]

In [183]:
se1 = df4['SM-1']

In [124]:
he_idx = se1[se1==1].index

In [176]:
np.random.choice([0,2], 40)

array([2, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 2,
       0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 0])

In [184]:
se1[se1==1]

Series([], Name: SM-1, dtype: int64)

In [461]:
test1 = se1[1:10]

In [471]:
test1[4:6]=0

In [472]:
test1

1    10.0
2     9.0
3     2.0
4     9.0
5     0.0
6     0.0
7     4.0
8     9.0
9     4.0
Name: SM-1, dtype: float64

In [380]:
test.loc[1:1]=10

In [445]:
test[1:3]=np.nan

In [480]:
test

1    10.0
2     NaN
3     NaN
4     9.0
5     9.0
6     9.0
7     4.0
8     9.0
9     4.0
Name: SM-1, dtype: float64

In [485]:
test.index = range(9)

0    10.0
1     NaN
2     NaN
3     9.0
4     9.0
5     9.0
6     4.0
7     9.0
8     4.0
Name: SM-1, dtype: float64

In [491]:
test.values.astype('int').shape

(9,)

In [441]:
test.iloc[-2:]

8    9
9    4
Name: SM-1, dtype: int64

In [305]:
test.index[0]

1

In [306]:
test.index[-1]

9

In [320]:
test[[9]]

9    4
Name: SM-1, dtype: int64

In [322]:
a = test[[7,8,9]].values

In [329]:
a[a!=9]

array([4, 4])

In [327]:
a[2]

4

In [303]:
for i,j in enumerate(test):
    print(i,j)

0 4
1 9
2 2
3 9
4 9
5 9
6 4
7 9
8 4

In [89]:
import numpy as np

In [100]:
he_idx = (se1==1).index.values

In [ ]:
h2_idx_m1 = h2_idx_m1 -1

In [36]:
df2.to_csv('test2.map', sep='\t', index=False)

In [24]:
df1.to_csv('test.map', sep='\t', index=False)

In [2]:
df = pd.DataFrame({'ser_no': [1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
                'co_nm': ['aa', 'aa', 'aa', 'bb', 'bb', 'bb', 'bb', 'cc', 'cc', 'cc'],
                'lat': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                'lon': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]})

In [3]:
df

   ser_no co_nm  lat  lon
0       1    aa    1   21
1       2    aa    2   22
2       3    aa    3   23
3       4    bb    4   24
4       5    bb    5   25
5       6    bb    6   26
6       7    bb    7   27
7       8    cc    8   28
8       9    cc    9   29
9       0    cc   10   30

In [17]:
import multiprocessing as mp
from itertools import combinations

In [18]:
import sys

In [19]:
from multiprocessing import cpu_count

In [20]:
cpu_count()

4

In [5]:
grp_lst_args = list(df.groupby('co_nm').groups.items())

In [6]:
grp_lst_args

[('aa', Int64Index([0, 1, 2], dtype='int64')),
 ('bb', Int64Index([3, 4, 5, 6], dtype='int64')),
 ('cc', Int64Index([7, 8, 9], dtype='int64'))]

In [13]:
def calc_dist2(arg):
    grp, lst = arg
    el = []
    for c in combinations(lst, 2):
        print('c: {}'.format(c))
        lst = [grp, df.loc[c[0]].ser_no,
               df.loc[c[1]].ser_no]
        el.append(lst)
    return pd.DataFrame(el, columns=['co_nm','machineA','machineB'])

In [14]:
with mp.Pool() as pool:
    results = pool.map(calc_dist2, grp_lst_args)

c: (0, 1)
c: (3, 4)
c: (7, 8)
c: (3, 5)
c: (0, 2)
c: (7, 9)
c: (1, 2)
c: (3, 6)
c: (4, 5)
c: (8, 9)
c: (4, 6)
c: (5, 6)

In [16]:
pd.concat(results)dd

  co_nm  machineA  machineB
0    aa         1         2
1    aa         1         3
2    aa         2         3
0    bb         4         5
1    bb         4         6
2    bb         4         7
3    bb         5         6
4    bb         5         7
5    bb         6         7
0    cc         8         9
1    cc         8         0
2    cc         9         0

In [330]:
import re

In [426]:
#      0123456789     
seq = 'aaaaa00'
prog1 = re.compile('9*29*29*2*9*2*9*2*9*2*9*2*9*|9*09*09*0*9*0*9*0*9*0*9*0*9*')
result = prog1.search(seq)
print(result)
print(result.end())

<re.Match object; span=(5, 7), match='00'>
7

In [405]:
result.group()

'09999909'

In [373]:
if None:
    print('a')

In [511]:
df_corrected = pd.read_csv('test.corrected.map', delim_whitespace=True)

In [513]:
df_raw = pd.read_csv('/Users/cmiao/MyRepo/GC/test_data/F2_simulated.map', delim_whitespace=True)

In [518]:
df_corrected['locus_name'] = df_corrected['chr'] +'-' +df_corrected['pos'].astype('str')

In [522]:
df_corrected = df_corrected.drop(['chr', 'pos'], axis=1)

In [525]:
df_corrected = df_corrected.set_index('locus_name')

In [527]:
df_raw = df_raw.set_index('locus_name')

In [529]:
df_corrected.head()

,SM-1,SM-2,SM-3,SM-4,SM-5,SM-6,SM-7,SM-8,SM-9,SM-10,...,SM-111,SM-112,SM-113,SM-114,SM-115,SM-116,SM-117,SM-118,SM-119,SM-120
locus_name,,,,,,,,,,,,,,,,,,,,,
chr1-27499,-,A,-,X,-,-,B,-,-,-,...,-,-,B,A,B,X,-,-,-,X
chr1-28916,-,B,A,A,X,X,B,B,-,B,...,B,-,A,A,-,A,-,A,B,B
chr1-89364,B,X,A,X,X,-,-,B,-,B,...,B,X,-,-,-,B,A,A,B,X
chr1-147409,-,X,-,-,-,-,B,B,A,B,...,B,-,A,A,B,X,A,-,-,X
chr1-150984,B,X,-,X,X,-,B,B,A,B,...,B,X,X,-,B,-,-,X,-,-

In [530]:
df_raw.head()

,SM-1,SM-2,SM-3,SM-4,SM-5,SM-6,SM-7,SM-8,SM-9,SM-10,...,SM-111,SM-112,SM-113,SM-114,SM-115,SM-116,SM-117,SM-118,SM-119,SM-120
locus_name,,,,,,,,,,,,,,,,,,,,,
chr1-27499,B,X,A,X,X,X,B,B,A,B,...,B,X,X,A,B,X,A,X,X,X
chr1-28916,B,X,A,X,X,X,B,B,A,B,...,B,X,X,A,B,X,A,X,X,X
chr1-89364,B,X,A,X,X,X,B,B,A,B,...,B,X,X,A,B,X,A,X,X,X
chr1-147409,B,X,A,X,X,X,B,B,A,B,...,B,X,X,A,B,X,A,X,X,X
chr1-150984,B,X,A,X,X,X,B,B,A,B,...,B,X,X,A,B,X,A,X,X,X

In [534]:
df_corrected.where(df_raw == df_corrected)

,SM-1,SM-2,SM-3,SM-4,SM-5,SM-6,SM-7,SM-8,SM-9,SM-10,...,SM-111,SM-112,SM-113,SM-114,SM-115,SM-116,SM-117,SM-118,SM-119,SM-120
locus_name,,,,,,,,,,,,,,,,,,,,,
chr1-27499,NaN,NaN,NaN,X,NaN,NaN,B,NaN,NaN,NaN,...,NaN,NaN,NaN,A,B,X,NaN,NaN,NaN,X
chr1-28916,NaN,NaN,A,NaN,X,X,B,B,NaN,B,...,B,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN
chr1-89364,B,X,A,X,X,NaN,NaN,B,NaN,B,...,B,X,NaN,NaN,NaN,NaN,A,NaN,NaN,X
chr1-147409,NaN,X,NaN,NaN,NaN,NaN,B,B,A,B,...,B,NaN,NaN,A,B,X,A,NaN,NaN,X
chr1-150984,B,X,NaN,X,X,NaN,B,B,A,B,...,B,X,X,NaN,B,NaN,NaN,X,NaN,NaN
chr1-167047,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,B,NaN,X,A,B,NaN,A,NaN,X,X
chr1-209522,NaN,NaN,A,NaN,NaN,X,NaN,B,NaN,NaN,...,B,X,X,A,B,NaN,A,X,X,NaN
chr1-220695,B,X,A,X,X,X,B,B,NaN,B,...,B,NaN,X,A,B,X,B,NaN,X,X
chr1-221497,B,X,A,X,X,X,B,B,NaN,B,...,B,NaN,NaN,A,B,X,B,NaN,X,X
chr1-374464,B,X,A,X,X,X,B,B,NaN,B,...,B,NaN,NaN,A,B,X,NaN,NaN,X,X
chr1-382374,B,X,A,X,X,X,B,B,B,B,...,B,X,NaN,A,B,X,NaN,NaN,X,X
chr1-399238,B,X,A,X,X,X,B,B,B,B,...,B,X,NaN,A,B,X,B,NaN,X,X
chr1-426208,B,X,A,X,X,X,B,B,B,B,...,B,X,NaN,A,B,X,NaN,NaN,X,X
chr1-443833,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,NaN,X,X,X
chr1-444112,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-444359,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,NaN,X,X,X
chr1-455376,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,NaN,NaN,X,X
chr1-527781,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,NaN,NaN,X,X
chr1-557468,B,X,A,X,X,X,B,B,NaN,B,...,B,X,X,A,B,X,B,NaN,X,X
chr1-588927,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,NaN,X,X
chr1-607677,B,X,A,X,X,X,B,B,NaN,B,...,B,X,X,A,B,X,B,X,X,X
chr1-646900,B,X,A,X,X,X,B,B,NaN,B,...,B,X,X,A,B,X,B,X,X,X
chr1-672038,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-792074,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-805074,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-909315,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-937457,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-941782,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-950774,B,X,A,X,X,X,B,B,B,B,...,B,X,X,A,B,X,B,X,X,X
chr1-952669,B,X,A,X,X,X,B,B,B,NaN,...,B,X,X,A,B,X,B,X,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
chr6-26365397,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26419000,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26425716,A,B,NaN,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26426066,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26443702,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26444462,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26463901,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26492103,A,B,NaN,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26553294,A,B,X,B,X,X,B,A,B,NaN,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26571793,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,X,B,X
chr6-26579065,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26617907,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,NaN,B,X
chr6-26695800,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,X,B,X
chr6-26703035,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,X,B,X
chr6-26717399,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,X,B,X
chr6-26787750,A,B,X,B,X,X,B,A,B,X,...,B,X,B,X,A,X,X,X,B,X
chr6-26793660,A,B,X,B,X,X,B,A,B,X,...,B,X,NaN,X,A,X,X,X,B,X
chr6-26800091,A,B,X,B,X,X,B,A,NaN,X,...,B,X,NaN,NaN,A,X,X,X,B,X
chr6-26819719,A,B,X,B,NaN,X,B,A,NaN,X,...,B,X,NaN,NaN,A,X,X,X,NaN,X
chr6-26846925,A,B,X,B,NaN,X,B,A,NaN,X,...,B,X,NaN,NaN,A,X,X,X,B,X
chr6-26847133,A,B,X,B,NaN,X,B,A,B,X,...,B,X,B,NaN,A,X,X,X,B,X
chr6-26873957,A,B,X,B,NaN,X,B,A,B,X,...,B,X,NaN,NaN,A,X,X,X,B,X
chr6-26905813,A,B,X,B,NaN,X,B,A,B,X,...,B,X,B,NaN,A,X,X,X,B,X
chr6-26907010,NaN,B,X,B,NaN,X,B,NaN,NaN,X,...,NaN,X,NaN,X,NaN,NaN,NaN,NaN,B,X
chr6-26935078,A,B,NaN,NaN,NaN,X,B,NaN,B,NaN,...,B,X,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr6-26952503,A,B,NaN,B,NaN,NaN,B,NaN,B,X,...,NaN,X,B,NaN,A,NaN,NaN,NaN,B,NaN
chr6-26958277,NaN,NaN,X,B,NaN,NaN,NaN,NaN,B,NaN,...,NaN,X,B,X,A,X,NaN,X,B,NaN
chr6-26980624,NaN,B,X,B,NaN,NaN,B,A,B,NaN,...,NaN,NaN,B,X,A,X,NaN,NaN,B,NaN
chr6-26988127,NaN,NaN,NaN,B,X,X,B,NaN,B,NaN,...,B,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN
chr6-26999538,NaN,B,NaN,NaN,X,NaN,B,NaN,B,NaN,...,B,NaN,NaN,X,A,NaN,X,NaN,B,NaN