In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('F2_X0.45miss0.35.map', delim_whitespace=True)

In [11]:
df.head()

,locus_name,SM-1,SM-2,SM-3,SM-4,SM-5,SM-6,SM-7,SM-8,SM-9,...,SM-111,SM-112,SM-113,SM-114,SM-115,SM-116,SM-117,SM-118,SM-119,SM-120
0,chr1-27499,-,A,-,X,-,-,B,-,-,...,-,-,B,A,B,X,-,-,-,X
1,chr1-28916,-,B,A,A,X,X,B,B,-,...,B,-,A,A,-,A,-,A,B,B
2,chr1-89364,B,X,A,X,X,-,-,B,-,...,B,X,-,-,-,B,A,A,B,X
3,chr1-147409,-,X,-,-,-,-,B,B,A,...,B,-,A,A,B,X,A,-,-,X
4,chr1-150984,B,X,-,X,X,-,B,B,A,...,B,X,X,-,B,-,-,X,-,-

In [16]:
sms = list(df.columns[1:])

In [17]:
df['chr'] = df['locus_name'].apply(lambda x: x.split('-')[0])
df['pos'] = df['locus_name'].apply(lambda x: x.split('-')[1])

In [18]:
sms.insert(0, 'chr')

In [19]:
sms.insert(1, 'pos')

In [20]:
sms

['chr',
 'pos',
 'SM-1',
 'SM-2',
 'SM-3',
 'SM-4',
 'SM-5',
 'SM-6',
 'SM-7',
 'SM-8',
 'SM-9',
 'SM-10',
 'SM-11',
 'SM-12',
 'SM-13',
 'SM-14',
 'SM-15',
 'SM-16',
 'SM-17',
 'SM-18',
 'SM-19',
 'SM-20',
 'SM-21',
 'SM-22',
 'SM-23',
 'SM-24',
 'SM-25',
 'SM-26',
 'SM-27',
 'SM-28',
 'SM-29',
 'SM-30',
 'SM-31',
 'SM-32',
 'SM-33',
 'SM-34',
 'SM-35',
 'SM-36',
 'SM-37',
 'SM-38',
 'SM-39',
 'SM-40',
 'SM-41',
 'SM-42',
 'SM-43',
 'SM-44',
 'SM-45',
 'SM-46',
 'SM-47',
 'SM-48',
 'SM-49',
 'SM-50',
 'SM-51',
 'SM-52',
 'SM-53',
 'SM-54',
 'SM-55',
 'SM-56',
 'SM-57',
 'SM-58',
 'SM-59',
 'SM-60',
 'SM-61',
 'SM-62',
 'SM-63',
 'SM-64',
 'SM-65',
 'SM-66',
 'SM-67',
 'SM-68',
 'SM-69',
 'SM-70',
 'SM-71',
 'SM-72',
 'SM-73',
 'SM-74',
 'SM-75',
 'SM-76',
 'SM-77',
 'SM-78',
 'SM-79',
 'SM-80',
 'SM-81',
 'SM-82',
 'SM-83',
 'SM-84',
 'SM-85',
 'SM-86',
 'SM-87',
 'SM-88',
 'SM-89',
 'SM-90',
 'SM-91',
 'SM-92',
 'SM-93',
 'SM-94',
 'SM-95',
 'SM-96',
 'SM-97',
 'SM-98',
 'SM-99',
 'SM-100',
 'SM-101',
 'SM-102',
 'SM-103',
 'SM-104',
 'SM-105',
 'SM-106',
 'SM-107',
 'SM-108',
 'SM-109',
 'SM-110',
 'SM-111',
 'SM-112',
 'SM-113',
 'SM-114',
 'SM-115',
 'SM-116',
 'SM-117',
 'SM-118',
 'SM-119',
 'SM-120']

In [22]:
df1 = df[sms]

In [24]:
df1.to_csv('test.map', sep='\t', index=False)